.createNewTaskForm {
  align-items: center;
  height: 3.4rem;
  max-width: 46rem;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
  margin-top: -7rem;
  margin-inline: auto;

}

.createNewTaskForm input {
  height: 100%;
  flex: 1;
  color: var(--gray-100);
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;
  padding: 0 4rem;
  font-size: 1rem;
}
.createNewTaskForm input::placeholder {
    color: var(--gray-300);
  }

.createNewTaskForm button {
    height: 100%;
    padding: 0 1rem;
    background: var(--blue-dark);
    color: var(--gray-100);
    border: none;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.375rem;
    font-weight: 700;
    font-size: 0.9rem;

  }
  
.createNewTaskForm  button:hover{ 
    background: var(--blue);
}

.tasks {
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 0 1rem;
}


.amountOfTasks{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.amountOfTasks > div {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.amountOfTasks p {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;
}

.amountOfTasks p.textPurple {
  color: var(--purple);
}

.amountOfTasks span {
  background: var(--gray-400);
  color: var(--gray-200);
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 700;
}

.empty {
  display: flex;
  margin-top: 5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  color: var(--gray-300);
  
}

.empty p {
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}